{% extends 'index.html' %}

{% block main %}

<div class="col-md-8 col-md-push-4 temm">
    {% for row in videos %}
    <div  style="margin-bottom:10px;padding:0">
        <div class="ui red inverted segment">
            <a href="/bax/{{row.id}}" style="color: #fff">{{row.title}}</a>
        </div>

        <div class="ui segment">
            <div class="row">
                <div class="col-sm-6">
                    <a href="/bax/{{row.id}}"><img src={{row.thumbnail_120_url}} /></a>
                </div>

                <div class="col-sm-6" style="margin: 5px 0">
                    {{row.description}}
                </div>
            </div>
        </div>

        <div class="ui inverted segment right aligned">
            Baxış sayı: {{row.views_total}}
        </div>
    </div>
    {% endfor %}


</div>

{% endblock %}